# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
# Identify the dimensions of the dataset
df = pd.read_csv(url)
df.shape

(4008, 11)

In [2]:
#Determine the data types of each column
df.dtypes

# Evaluate whether they are appropriate for the nature of the variable

# CLV and Number of Open Complaints are numeric and should be treated as float64.

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [5]:
#Identify the number of unique values for each column
df.nunique()
# Determine which columns appear to be categorical

# ST, Gender, Education, Policy Type and Vehicle Class are categorical. Number of complaints seems to be categorical, but it shouldn't be.

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [18]:
# describe the unique values of each categorical column
print(df.ST.unique())
print(df.GENDER.unique())
print(df.Education.unique())
print(df["Number of Open Complaints"].unique())
print(df["Policy Type"].unique())
print(df["Vehicle Class"].unique())

#range of values for numerical columns
print(f"The range of income is: {df.Income.min()}, {df.Income.max()}")
print(f"The range of income is: {df["Monthly Premium Auto"].min()}, {df["Monthly Premium Auto"].max()}")
print(f"The range of income is: {df["Total Claim Amount"].min()}, {df["Total Claim Amount"].max()}")

#We cannot get the range of the "Customer Lifetime Value" column because it is defined as an object and and it gives us an error. Nor extract their unique values, because there are many
#We cannot get the range of the "Number of Open Complaints" column because it is defined as an object.
#There're errors in data entry, causing there to be more unique values ​​than categories.
#The "Number of Open Complaints" data is poorly collected, as an object and in what looks like a date format.

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
The range of income is: 0.0, 99960.0
The range of income is: 61.0, 35354.0
The range of income is: 0.382107, 2893.239678

In [19]:
# Compute summary statistics
print(df.describe())

# Client income varies widely as we see in the high standard deviation
# There is an extremely wide range in monthly premiums with a bias towards high values

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [21]:
# Compute summary statistics for categorical columns

categorical_columns = ["ST", "GENDER", "Education", "Number of Open Complaints", "Policy Type", "Vehicle Class"]
for column in categorical_columns:
    statistics = df[column].value_counts()
    print(f"Statistics for {column}: {statistics}")

# The majority of clients are from Oregon and all are distributed among the six states in which the company will operate.
# The majority of clients are female.
# The company has a large number of clients with an education level of college or above.
# 77,5% of customers do not have any complaints
# The vast majority of customers have a Personal Auto policy, suggesting that the company's primary market
# The majority of customers own standard vehicles, like Four-Door and Two-Door cars

Statistics for ST: ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
Statistics for GENDER: GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Statistics for Education: Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Statistics for Number of Open Complaints: Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64
Statistics for Policy Type: Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Statistics for Vehicle Class: Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [34]:
# Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.
location = df["ST"].value_counts()
location_sorted =location.sort_values()
location_sorted[:5]

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [43]:
policy_type = df["Policy Type"].value_counts()
most_sold_policy_type = policy_type.index[0]
most_sold_policy_count = policy_type.iloc[0]
print(most_sold_policy_type, most_sold_policy_count)

Personal Auto 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [48]:
#Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies

personal_auto = df.loc[df["Policy Type"] == "Personal Auto"]
corporate_auto = df.loc[df["Policy Type"] == "Corporate Auto"]

#Calculate the average income for each policy type
personal_income = personal_auto["Income"].mean()
corporate_income = corporate_auto["Income"].mean()
print(f"The average personal income is {personal_income}")
print(f"The average corporate income is {corporate_income}")

The average personal income is 38180.69871794872
The average corporate income is 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [54]:
# Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile

high_claim = df.loc[df["Total Claim Amount"] > 532.800000]
# Calculate summary statistics 
print(high_claim.describe())
# Statistics for categorical columns
high_claim_categorical = high_claim[["ST", "GENDER", "Education", "Number of Open Complaints", "Policy Type", "Vehicle Class"]]
for column in high_claim_categorical:
    statistics = high_claim[column].value_counts()
    print(f"Statistics for {column}: {statistics}")

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678
Statistics for ST: ST
Oregon        90
California    65
Arizona       40
Nevada        29
Cali          21
WA            10
AZ             9
Name: count, dtype: int64
Statistics for GENDER: GENDER
F         115
M         100
Male       16
female      5
Femal       2
Name: count, dtype: int64
Statistics for Education: Education
Bachelor                85
High School or Below    85
College                 82
Master                   8
Doctor                   4
Name: count, dtype: int64
Statistics for Number of Open Complaints: Number of Open Complaints
1/0/00    206
1/1/00     30
1/3/00     12
1/2/00     11
1/4/00      3
1/5/00      2
Name: count, dtype: int64
Statistics for Policy Type: Policy Type
Personal Auto     191
Corporate Auto     60
Special Auto       13
Name: count, dtype: int64
Statistics for Vehicle Class: Vehicle Class
SUV              101
Four-Door Car     69
Two-Door Car      33
Sports Car        31
Luxury SUV        19
Luxury Car        11
Name: count, dtype: int64